/* Colors
*  color: #000000
*  color: #8CB189
*  color: #40D330
*  color: #38912E
*  color: #095A00
*/

@import url('https://fonts.googleapis.com/css?family=VT323');

html, body {
	margin:0;
  height: auto;
  overflow: visible;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #303030;
}

#header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212121;

  font-family: "VT323";
  color: #40D330;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#header h1 {
  margin: 0;
  font-size: 300%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buttons a {
  padding: 5px;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  padding: 10px;
  height: auto;
  overflow: visible;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 20px;
  padding: 20px;

  border-radius: 10px;
  background-color: #424242;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#main {
  width: 700px;
  border-radius: 10px;
  padding: 20px;
  background-color: #424242;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.sidebar {
  padding: 30px;
  font-family: "VT323";
  color: #8CB189;
}

.sidebar h2 {
  margin: 0;
  padding: 0;
  font-size: 250%;
  text-align: center;
}

#grid {
  width: 100%;
  height: 100%;
}

.grid-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.grid-cell {
  border: 1px solid #0C7800;
}

.clicked {
  background-color: #33FF00;
}

.start {
  background-color: #0030FF;
}

.path {
  background-color: #8CB189;
}

.clear { clear: both; }
